:root {
  --main-color: #c51350;
}
body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
.container {
  /* width: 1170px; */
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* small-screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Meduium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Landing Page */
/* Start Settings */
.settings {
  position: fixed;
  top: 0;
  left: -320px;
  z-index: 999;
  width: 300px;
  height: 100%;
  background-color: var(--main-color);
  transition: 0.3s;
  padding: 10px;
}
.open {
  left: 0px;
}
.settings .cogs-container {
  position: absolute;
  right: -36px;
  top: 40%;
  background-color: rgb(201, 201, 201);
  font-size: 20px;
  color: black;
  cursor: pointer;
  border-radius: 0px 15px 15px 0px;
}
.settings i {
  padding: 8px;
}
.settings-container {
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}
.settings-option {
  padding: 10px;
  background-color: rgb(38, 38, 37);
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.settings-option h4 {
  margin: 0px;
  text-align: center;
  color: white;
  font-size: 25px;
  text-transform: capitalize;
}
.colors-list {
  width: 70%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 10px;
  margin: 0px;
}
.colors-list li {
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.5;
  border: 2px solid white;
}
.colors-list li.active {
  opacity: 1;
  border: 4px solid white;
}
.colors-list li:first-child {
  background-color: #c51350e5;
}
.colors-list li:nth-child(2) {
  background-color: #e91e63e5;
}
.colors-list li:nth-child(3) {
  background-color: #009688e5;
}
.colors-list li:nth-child(4) {
  background-color: #03a9f4e5;
}
.colors-list li:nth-child(5) {
  background-color: #a72828e5;
}
.colors-list li:nth-child(6) {
  background-color: #25bc0be5;
}

.settings-option h4 {
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  text-align: center;
}
.settings-option .adjuster {
  display: flex;
  align-items: center;
  gap: 10px;
  min-height: 30px;
}
.handle {
  display: flex;
  gap: 10px;
}
.settings-option span {
  text-transform: capitalize;
  border-radius: 5px;
  padding: 3px 20px;
  color: white;
  font-size: 19px;
  cursor: pointer;
}
.settings-option span.active {
  opacity: 0.2;
}
.settings-option span:first-child {
  background-color: rgb(22, 167, 9);
}
.settings-option span:nth-child(2) {
  background-color: rgb(205, 6, 6);
}
.reset {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}
.reset:hover {
  opacity: 0.8;
}
/* End Settings */
/* Start  NavBULLETS */
.nav-bullets {
  position: fixed;
  right: 10px;
  top: 40%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.nav-bullets .bullet {
  width: 15px;
  height: 15px;
  border: 3px solid;
  border-color: var(--main-color);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.nav-bullets .bullet .tool-tip {
  position: absolute;
  width: 100px;
  background-color: var(--main-color);
  border-radius: 2px;
  padding: 5px;
  top: -6px;
  right: 40px;
  display: none;
  transition: all 0.5s;
  text-align: center;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}
.nav-bullets .bullet:hover .tool-tip {
  display: block;
}
.nav-bullets .bullet .tool-tip::after {
  content: "";
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  border-color: transparent transparent transparent;
  border-left-color: var(--main-color);
}
/* End  NavBULLETS */
.landing-page {
  min-height: 100vh;
  background-image: url("../imgs/01.jpg");
  background-size: cover;

  position: relative;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.611);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
/* start Header */
header {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 60%;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-color);
  border-radius: 15px;
}
@media (max-width: 1630px) {
  header {
    justify-content: space-between;
  }
}
header .logo {
  width: 300px;
  padding: 15px;
  font-size: 25px;
}
@media (max-width: 643px) {
  header .logo {
    font-size: 20px;
  }
}
header .links {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-left: 0px;
  padding-right: 20px;
  opacity: 1 !important;
}
@media (max-width: 1630px) {
  header .links {
    position: absolute;
    display: flex;
    transform: scale(0);
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
    top: 110%;
    left: 0;
    width: 100%;
    transition: 0.3s;
  }
  header .links li {
    margin: 0px;
  }
  .opend {
    transform: scale(1) !important;
  }
}
header .links li {
  display: inline-block;
  margin-left: 50px;
  cursor: pointer;
}
@media (max-width: 1630px) {
  header .links li {
    padding: 15px;
    margin: 0px;
  }
}
header .links li a {
  text-decoration: none;
  color: white;
  user-select: none;
  font-weight: bold;
  transition: 0.3s;
}
header .links li a:hover,
header .links li a.active:hover {
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
}
header i {
  font-size: 35px;
  cursor: pointer;
  display: none;
}
@media (max-width: 1630px) {
  header i {
    display: block;
  }
  header i.fa-circle-xmark {
    position: absolute;
    right: 5px;
    top: 5px;
    transition: 0.3s;
  }
}
/* End Header */
.intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media (max-width: 643px) {
  .intro-text {
    width: 300px;
  }
}
.intro-text h1 {
  color: white;
  font-size: 40px;
}
@media (max-width: 643px) {
  .intro-text h1 {
    font-size: 27px;
  }
}
.intro-text h1 span {
  color: var(--main-color);
}
.intro-text p {
  color: white;
  line-height: 2rem;
}

/* End Landing Page */
/* Start About Us  */
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .about-us {
    text-align: center;
    flex-direction: column;
  }
}
.about-us .info-box {
  flex: 1;
}
.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
}
.about-us .info-box p {
  line-height: 1.8;
  color: #6a6767;
}
.about-us .img-box {
  flex: 1;
}
.about-us .img-box img {
  align-self: flex-end;
  width: 500px;
  animation: to-up 2s forwards alternate linear infinite;
}
@media (max-width: 992px) {
  .about-us .img-box img {
    max-width: 100%;
  }
}
@keyframes to-up {
  0%,
  100% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 10px);
  }
}
.tables-link {
  background-color: var(--main-color);
  padding: 5px 20px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}
.tables-link:hover {
  opacity: 0.8;
}
/* End About Us  */
/* Start skills */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f4f4f4;
}
.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  text-align: center;
}
.skills .skill-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  gap: 20px;
}
.skills .skill-box:not(:last-child) {
  margin-bottom: 30px;
}
.skills .skill-box .skill-name {
  font-weight: bold;
  text-align: right;
}
.skills .skill-box .skill-progress {
  height: 35px;
  background-color: rgb(248, 244, 244);
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.skills .skill-box .skill-progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  transition: 1s;
}
.skills .skill-box:nth-child(2) .skill-progress span {
  background-color: darkblue;
}
.skills .skill-box:nth-child(3) .skill-progress span {
  background-color: rgb(7, 160, 99);
}
.skills .skill-box:nth-child(4) .skill-progress span {
  background-color: rgb(250, 37, 17);
}
.skills .skill-box:nth-child(5) .skill-progress span {
  background-color: rgb(199, 12, 161);
}
/* End skills */
/* Start Gallary */
.gallary {
  padding-top: 50px;
  padding-bottom: 50px;
}
.gallary h2 {
  text-align: center;
  color: var(--main-color);
  margin-bottom: 40px;
}
.gallary .images-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 40px;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: 1s;
}
.gallary .images-box img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}
.gallary .images-box img:hover {
  transform: scale(1.1) rotate(5deg);
}
.pop-up-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.685);
  z-index: 10;
}
.img-pop-up {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  width: 60%;
  z-index: 11;
  padding: 15px;
  text-align: center;
}
@media (max-width: 996px) {
  .img-pop-up {
    width: 80%;
  }
}
.img-pop-up h2 {
  color: var(--main-color);
  text-transform: capitalize;
}
.img-pop-up img {
  width: 100%;
  border-radius: 5px;
}
.img-pop-up .close-btn {
  font-weight: bold;
  position: absolute;
  color: white;
  background-color: var(--main-color);
  top: -20px;
  right: -12px;
  font-size: 28px;
  font-style: normal;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid black;
  cursor: pointer;
  user-select: none;
}
/* End Gallary */
/* Start-TimeLine */
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 2px;
  background-color: var(--main-color);
}
.timeline .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  position: relative;
  z-index: 2;
  text-align: center;
  border-radius: 4px;
  color: white;
  padding: 2px 5px;
  font-weight: bold;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}
@media (max-width: 767px) {
  .timeline .timeline-content .left,
  .timeline .timeline-content .right {
    width: 100%;
    margin-bottom: 20px;
  }
  .timeline .timeline-content .right::before,
  .timeline .timeline-content .left::before {
    display: none;
  }
}
.timeline .timeline-content .left {
  float: left;
}
.timeline .timeline-content .left::before {
  right: -35px;
}
.timeline .timeline-content .right {
  float: right;
}
.timeline .timeline-content .right::before {
  left: -35px;
}
.timeline .timeline-content .right::before,
.timeline .timeline-content .left::before {
  content: "";
  position: absolute;
  top: 20px;
  background-color: white;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--main-color);
}
.timeline .timeline-content .content {
  padding: 20px;
  background-color: white;
}
.timeline .timeline-content .content h3 {
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
}
.timeline .timeline-content .content p {
  color: #666;
  margin: 0;
  left: 1.6;
}
.clearfix {
  clear: both;
}
.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
}
.timeline .timeline-content .left .content::before {
  right: -20px;
  border-color: transparent transparent transparent white;
}
.timeline .timeline-content .right .content::before {
  left: -20px;
  border-color: transparent white transparent transparent;
}
/* End-TimeLine */
/* Start  Features */
.features {
  padding-top: 80px;
  padding-bottom: 80px;
}
.features h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.features .feat-box {
  text-align: center;
}
.features .feat-box img {
  width: 120px;
}
.features .feat-box h4 {
  margin: 20px 0 40px;
  position: relative;
}
.features .feat-box h4::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 2px;
  border-radius: 10px;
  background-color: var(--main-color);
}
.features .feat-box p {
  line-height: 1.7;
  color: #666;
}
/* End  Features */
/* Start Testimonail */
.testimonial {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}
.testimonial::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: var(--main-color);
}
.testimonial::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #1a1a1a;
}
.testimonial h2 {
  position: relative;
  text-align: left;
  color: white;
  z-index: 11;
  font-size: 40px;
  margin-left: 10px;
}
.testimonial .container {
  position: relative;
  z-index: 15;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.testimonial .container .ts-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 10px 60px 10px 10px;
  border-radius: 20px;
  position: relative;
  counter-increment: comments-count;
}
.testimonial .container .ts-box::after {
  content: "";
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgb(220, 149, 27);
  height: 100%;
  width: 50px;
  box-shadow: inset 1px 0px 3px 0px rgb(113, 110, 110);
  border-radius: 0px 20px 10px 0px;
}
.testimonial .container .ts-box::before {
  content: counter(comments-count);
  text-align: center;
  line-height: 2.5;
  font-weight: bold;
  color: rgb(220, 149, 27);
  position: absolute;
  right: -1px;
  top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 3px -1.8px 1px 4px rgb(220, 149, 27),
    5px 2px 5px 1px rgba(18, 18, 18, 0.383);
  z-index: 11;
}
.testimonial .container .ts-box p {
  line-height: 1.4;
  text-transform: capitalize;
}
.testimonial .container .ts-box .info-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
}
.testimonial .container .ts-box .info-container img {
  width: 60px;
}

.testimonial .container .ts-box .info-container .user-info h3 {
  margin: 0;
}
.testimonial .container .ts-box .info-container .user-info span {
  margin-top: 10px;
  display: block;
  color: #666464;
}
/* End Testimonail */
/* Start Contact Us */
.contact {
  /* min-height: 600px; */
  background-image: url("/imgs/contact.jpg");
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
}
.contact h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}
.contact .container {
  position: relative;
  z-index: 2;
}
.contact .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.contact .container form {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 767px) {
  .contact .container form {
    flex-direction: column;
  }
}
.contact .container form .left {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  gap: 30px;
}
@media (max-width: 767px) {
  .contact .container form .left {
    width: 100%;
  }
}
.contact .container form .left input {
  padding: 15px;
  border: 1px solid;
  border-color: var(--main-color);
}
.contact .container form .right {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 30px;
}
@media (max-width: 767px) {
  .contact .container form .right {
    width: 100%;
  }
}
.contact .container form .right textarea {
  height: 189px;
  padding: 10px;
  resize: none;
  border: 1px solid;
  border-color: var(--main-color);
}
.contact .container form .left input:focus,
.contact .container form .right textarea {
  outline: none;
}
.contact .container form .right input {
  padding: 17px 40px;
  cursor: pointer;
  align-self: flex-start;
  background-color: var(--main-color);
  border: none;
  color: white;
  font-weight: bold;
}
@media (max-width: 767px) {
  .contact .container form .right input {
    align-self: center;
  }
}
/* End Contact Us */
/* Start Footer */
footer {
  background-color: #1a1a1a;
  font-size: 0;
}
footer p {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  color: white;
  margin: 0;
}
/* End Footer */
/* Start Scroll bar  */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ed3434;
}
/* End Scroll bar */
